<div class="container-fluid">
  <h1>Bootcamp Enrollment Form</h1>
  <form #userForm="ngForm">
    {{userForm.form.valid}}
<!-- 
{{ userForm.value | json}}
<hr />
{{userModel | json}} -->

    <div class="form-group">
      <label>Name</label>
      <input type="text" #name class="form-control" name="username" [(ngModel)]="userModel.name">
    </div>

    {{name.className}}

    <div class="form-group">
      <label>Email</label>
      <input type="email" required="" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" class="form-control" name="email" [(ngModel)]="userModel.email">
    </div>
        

    <div class="form-group mb-3">
      <label>Phone</label>
      <input type="tel" required #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="phone" [(ngModel)]="userModel.phone">
    <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone no is required</small> -->
  <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
  <small class="text-danger" *ngIf="phone.errors?.['required']">Phone no is requried</small>
  <small class="text-danger" *ngIf="phone.errors?.['pattern']">phone no must be 10 digits</small>
  </div>  
  </div>

    

    <div class="form-group">
      <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" class="custom-select form-control" required="" #topic="ngModel" [class.is-invalid]="topicHasError && topic.touched" name="topic" [(ngModel)]="userModel.topic">
        <option value="default">I am interested in</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
      <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please choose a topic</small>
    </div>

    <div class="mb-3">
      <label>Time preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timepreference" [(ngModel)]="userModel.timepreference" value="Morning">
        <label class="form-check-lable">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timepreference" [(ngModel)]="userModel.timepreference" value="Evening">
        <label class="form-check-lable">Evening (5PM - 8PM)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" name="sub" [(ngModel)]="userModel.sub" type="checkbox">
      <label class="form-check-lable">send me promotional offers</label>
    </div>

    <button [disabled]="userForm.form.invalid ||topicHasError" class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>